body{
  margin: 0;
  padding: 0;
}
#main_menu{
position: absolute;
visibility: hidden;

}
#game_screen {
  display: block;
}
#game_over, #playHUD {
  position: absolute;
  visibility: hidden;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  color: rgb(68, 66, 66);
  text-align: center;
  font-size: 62px;
  margin-bottom: 0px;
  margin-top: 0px;
}
h3 {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  color: rgb(68, 66, 66);
  text-align: center;

}
h2 {
  font-family: 'Roboto Slab', serif;
  color: rgb(68, 66, 66);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;

}
#restart_button {
  border: 2px solid rgb(68, 66, 66);
  border-radius: 10px;
}
#restart_button:hover {
  background-color: rgb(26, 207, 87);
  cursor: pointer;
}

#watermelon {
  position: absolute;
  visibility: hidden;
}
